@import url(/CSS/null.css);

$colorBlack:#1D1D1D;
$colorGrey:#626262;
;

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: normal;
}

a {
    color: $colorBlack;
    text-decoration: none
}

input {

    border: none;
}

.container {
    max-width: 956px;
    margin: 0px auto;
    padding: 0 8px;

    @media (max-width: 770px) {
        max-width: none;
    }
}


.header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 32px;


    .header__wrapper {
        display: flex;
        width: 100%;
    }

    .header__logo {
        padding: 30px 0;
        flex: 0 0;
    }

    .header__body {
        display: flex;
        flex: 0 1 100%;
        align-items: center;
        justify-content: flex-end;
    }

    .header__button {
        font-size: 13px;
        padding: 14px 20px;
        color: $colorBlack;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 2px;
        margin-right: 16px;
    }

    .header__button:active {
        background-color: $colorGrey;
        color: white;
    }

    .header__card {
        padding: 0 10px;

        @media (max-width: 580px) {
            display: none;
        }
    }

}


.search {
    .search__input {
        height: 48px;
        margin-bottom: 56px;

        input {
            width: 100%;
            outline: none;
            border-bottom: 1px solid #636363a9;
            color: $colorGrey;
            font-size: 16px;
            line-height: 24px;
            padding-top: 24px;

        }
    }
}



.restaurants {
    margin-bottom: 60px;

    .restaurants__title {
        font-size: 22px;
        line-height: 34px;
        font-style: normal;
        font-weight: normal;
        margin-bottom: 16px;
    }

    .restaurants__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }




    .item {

        margin-bottom: 16px;
        overflow: hidden;
        flex: 0 0 32.217%;


        @media (max-width: 770px) {
            flex: 0 0 48.936%;
        }

        @media (max-width: 580px) {
            flex: 0 0 100%;
        }

    }

    img {
        width: 100%;
        object-fit: cover;
        height: 256px;
        margin-bottom: 16px;
        transition: 0.2s ease-in;

    }

    img:hover {
        transform: scale(1.05);
    }

    h4 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 4px;
    }

    li {
        display: inline-block;
    }

    .item__type {
        color: $colorGrey;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 10px;

    }

    .item__time {
        color: $colorBlack;
        font-size: 13px;
        margin-bottom: 24px;

    }

}






.footer {
    color: #ffff;
    background-color: #262626;

    a {
        color: white;
    }
}

.footer__big-logo {
    padding: 56px 0 40px;
    border-bottom: 1px solid #636363a9;
    width: 100%;
    margin-bottom: 32px;


}

.footer__body {
    font-size: 13px;
    color: white;
    line-height: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;

    .ref {
        padding-bottom: 23px;

    }

    p:last-child {
        padding-bottom: 0px;
    }

}

.footer__item {
    width: calc(308/956*100%);



    @media (max-width: 580px) {
        width: 100% // flex: 0 0 100%;
    }
}



.footer__language-list {
    select {
        color: white;
        background: #3B3B3B url(/img/Stores/world.svg) 16px 50% no-repeat;
        width: calc(227/308*100%);
        padding: 12px 0 12px 45px;
        margin-bottom: 33px;



    }


}

.footer__social {
    padding-bottom: 40px;
}

.footer_soccial-tag {
    font-size: 16px;
    margin-bottom: 17px;
    display: flex;


    .fotter__sharp {
        color: #57AD56;
    }
}

.footer__social-icon {
    margin-right: 10px;


}


.footer__store-app {

    border-top: 1px solid #636363a9;
    padding: 41px 0 39px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #636363a9;
}

.app {
    opacity: 0.6;
}

.app:hover {
    opacity: 1;
}


.footer__google_play {
    padding-right: 40px;
}

.footer__down {
    font-size: 11px;
    line-height: 13px;
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
}